h1{
    text-align: center;
    font-size: 40px;
    padding: 20;
    color: #E9E9E9;
    font-family: "Monospace", sans-serif;
}

caption{
    font-weight: bold;
    text-align: center;
    margin-top: auto;
    font-size: 20px;
    padding: 5px;
    font-family: "Monospace", sans-serif;
}

.container{
    max-width: 45%; 
    margin: 20px auto; /* Center horizontally and add margin */
    padding: 20px; /* Add some padding */
    font-size: 15px;
    background-color: #E9E9E9;
    color: #232323;
    font-family: "Monospace", sans-serif;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    text-align: center;
}


body{
    vertical-align: middle;
    text-align: center;
    background-color : #232323;
    color: #E9E9E9;
    font-family: "Monospace", sans-serif;
}

.wrapper{
    display: flex;
    justify-content: center;
}

.table-container {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

table#parser-table{
    vertical-align: left;
    text-align: center;
    font-family: "Monospace", sans-serif;
    border: solid white;
    border-collapse: collapse;
    width: 40%;
    height: 40%;
    margin-bottom: 20px; 
}

table#output{
    vertical-align: right;
    text-align: center;
    font-family: "Monospace", sans-serif;
    border: solid white;
    border-collapse: collapse;
    width: 40%;
    height: 40%;
    margin-bottom: 20px; 
}

th, td {
    text-align: center;
    padding: 7px;
    border: 1px solid white;
} 

input{
    margin: 1px;
    width: 40%;
    height: 40%;
    padding: 1%;
    font-family: "Monospace", sans-serif;
}

button{
    margin: 5px;
    width: 15%;
    height: 10%;
    padding: 5px;
    font-family: "Monospace", sans-serif;
}

p#error-msg{
    font-weight: bold;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
    font-family: "Monospace", sans-serif;
    color: #6a3636;
}

p#finish-msg{
    font-weight: bold;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
    font-family: "Monospace", sans-serif;
}
